* {
	padding: 0;
	margin: 0;
}

header {
	text-align: center;
	width: 100vw;
	height: 15rem;
	background-color: darkgrey;
	opacity: .5;
	display: table;
}

header h1 {
	display: table-cell;
	vertical-align: middle;
}

.toggle-button-row {
	text-align: right;
	padding: 0.5rem 1rem;
}

.toggle-button-row i {
	cursor: pointer;
	font-size: 1.5rem;
}

nav {
	padding: 1rem 0;
	background-color: blueviolet;
	position: fixed;
	left: -15rem;
	width: 15rem;
	height: 100%;
	z-index: 2;
	transition: all 300ms linear;
}

nav.active {
	left: 0vw;
}

nav p {
	text-align: center;
	text-transform: uppercase;
}

nav ul {
	list-style-type: none;
	text-align: center;
	padding: 2rem 0;
}

nav ul > li {
	margin: 1rem 0;
}